{% extends 'SIPResourceBundle::layout.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Sylius <small>Recent products</small></h1>
</div>

<div class="alert alert-info">
</div>

<hr />

{% endblock %}
